/* Global variables */
:root{
    --font-color: #ffffff;
}

html{
    height: 100%;
}

body{
    /* background-color: var(--bg-color); */
    background-image : linear-gradient(45deg, #202020, #246668);
    color: var(--font-color);
    height : 100%;
}

.modal-content{
    background-color: #248e92 ;
}

#create-modal, .modal-title{
    font-weight: bold;
}

.main-form{
    width : 500px;
    height: 250px;
    margin-left : auto;
    margin-right : auto;
    color : var(--font-color);
    background-color: #2d95a5;
    font-weight: bold;
    padding: 20px;
}


.btn, .btn-primary{
    font-weight: bold;
    background-color: #4cb0d1;
}

.centered-box{
    padding: 40px;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#create-acc-modal-btn{
    text-decoration: none;
    color : #a9e6fa;
    font-weight: bold;
}